@import "tailwindcss";

.bg-dark {
  background-color: #3f3f3f;
}
.bg-primary {
  background-color: #f75c1e;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal-box {
  background: white;
  max-width: 500px;
  width: 90%;
  border-radius: 10px;
  position: relative;
}
